{%- from 'macros.jinja' import generate_enum %}
{{ generate_enum(
    'Armor.txt',
    code_column='code',
    member_name_code_column='namestr',
    metadata_columns={
        'reqstr': 'int',
        'levelreq': 'int',
    },
    name_override={
        "rar": "Boneweave rar",
        "rbe": "Troll Belt rbe",
    }
) }}
