{%- from 'macros.jinja' import generate_enum %}
{{ generate_enum(
    'Sets.txt',
    code_column=None,
    member_name_code_column='name',
    metadata_columns={
        'level': 'int',
    },
    skip_by_columns={
        'index': ["None", "Not Used", "Unused", "unused", "Expansion"],
    }
) }}
