{%- from 'macros.jinja' import generate_enum %}
{{ generate_enum(
    'SetItems.txt',
    code_column=None,
    member_name_code_column='index',
    metadata_columns={
        'set': 'Set',
        'lvl': 'int',
        'lvl req': 'int',
    },
    skip_by_columns={
        'index': ["None", "Not Used", "Unused", "unused", "Expansion"],
    }
) }}
