{%- from 'macros.jinja' import generate_enum %}
{{ generate_enum(
    'Weapons.txt',
    code_column='code',
    member_name_code_column='namestr',
    metadata_columns={
        'type': 'str',
        'type2': 'str'
    },
    skip_by_columns = {
        'name': ["None", "Not Used", "Unused", "unused", "Expansion"],
        'code': ['opl', 'gpl', 'opm', 'gpm', 'ops', 'gps', '7cr2']
    },
    name_override = {
        'tpfs' : 'Fulminating Potion',
        'tpfm' : 'Exploding Potion',
        'tpfl' : 'Oil Potion',
        'tpgs' : 'Strangling Potion',
        'tpgm' : 'Choking Potion',
        'tpgl' : 'Rancid Potion',
        'tpcs' : 'Chilling Potion',
        'tpcm' : 'Frost Potion',
        'tpcl' : 'Freezing Potion',
        'tpls' : 'Charged Potion',
        'tplm' : 'Static Potion',
        'tpll' : 'Shock Potion',
    }
) }}
